body {
  text-align: center;
  background-color: white;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.container {
  background-color: white;
  border-radius: 18px;
  filter: drop-shadow(0 2px 8px rgba(50, 50, 50, 0.16));
}

.title {
  width: auto;
  text-align: center;
  font-size: 40px;
  margin: 7% 4% 0;
  padding: 8px 0;
}

.flagButtons {
  position: absolute;
  overflow: hidden;
  right: 4%;
  top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 130px;
  padding: 12px;
}

.languageFlag {
  cursor: pointer;
  height: 60px;
}

.logo {
  width: 78%;
  margin: 0 auto;
}

.logo img {
  max-width: 100%;
  max-height: 425px;
  height: auto;
}

.appTitle {
  margin-top: 0;
  font-size: 50px;
  color: black;
}

.descriptionText {
  width: 700px;
  text-align: left;
  color: #000000;
  font-size: 33px;
  margin: 5% auto;
  padding: 30px;
}

.scrollToDownloadButton {
  position: absolute;
  cursor: pointer;
  padding: 18px;
  right: 4%;
  bottom: 6%;
  font-size: 33px;
  color: #AC0735;
}

.screenshotsTitle {
  color: #F5C684;
}

.screenshotsSwiper {
  width: 100%;
  overflow: hidden;
  padding: 5% 0 15px;
}

.screenshotsContainer {
  width: 100%;
}

.screenshotContainer {
  width: 33.333333333%;
  float: left;
}

.screenshotSwipeAnimating {
  transition: transform 200ms linear;
}

.screenshot {
  width: 80%;
  max-width: 400px;
}

.screenshotsNavigationBar {
  display: none;
}

.screenshotsNavigationBar {
  margin: -4% auto 10%;
  width: 60px;
}

.screenshotNavigationTab {
  background-color: #8a929e;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  float: left;
  margin-right: 10px;
}

.screenshotNavigationSelectedTab {
  background-color: #F5C684;
}

.downloadTitle {
  color: #F5C684;
}

.downloadsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5% auto 0;
}

.downloadContainer {
  margin: 0 37px;
  padding: 30px;
  width: 142px;
  height: 320px;
}

.osName {
  font-size: 33px;
  color: #8a929e;
}

.osIcon {
  font-size: 130px;
  margin: 30px 0 30px;
}

.androidIcon {
  color: #7cb342;
}

.iosIcon {
  color: #000000;
}

.arrowDown {
  font-size: 50px;
  color: #8a929e;
}

.soonText {
  margin: 0;
  font-size: 21px;
}

.info {
  background-color: #1f2333;
  text-align: left;
  color: #ffffff;
  font-size: 20px;
  margin-top: 7%;
  padding: 30px;
}

.githubText {
  color: #ffffff;
}

.contactsText {
  margin-top: 20px;
}

@media (max-width: 880px) {
  .flagButtons {
    display: block;
    padding: 0;
    height: 63px;
    width: 63px;
    transition: width 200ms linear;
  }

  .flagButtonsFull {
    width: 118px;
  }

  .languageFlag {
    position: absolute;
    cursor: auto;
    top: 8px;
    left: 63px;
    height: 47px;
    width: auto;
  }

  .selectedLanguageFlag {
    left: 8px;
  }

  .title {
    font-size: 30px;
  }

  .appTitle {
    font-size: 35px;
  }

  .descriptionText {
    margin: 7% 5% 0;
    width: auto;
    font-size: 21px;
    padding: 0;
    border-radius: 0;
    filter: none;
  }

  .scrollToDownloadButton {
    font-size: 23px;
    cursor: auto;
  }

  .screenshotsSwiper {
    padding: 7% 0;
  }

  .screenshotsContainer {
    width: 300%;
  }

  .screenshotsNavigationBar {
    display: block;
  }

  .downloadsContainer {
    margin-top: 7%;
  }

  .downloadContainer {
    cursor: auto;
    margin: 0 20px;
    width: 75px;
    height: 200px;
  }

  .osName {
    font-size: 24px;
  }

  .osIcon {
    font-size: 70px;
  }

  .arrowDown {
    font-size: 30px;
  }

  .soonText {
    font-size: 17px;
  }

  .info {
    font-size: 18px;
    margin-top: 10%;
    padding: 20px;
  }
}

@media (max-width: 1345px) {
  .scrollToDownloadButton {
    position: fixed;
    z-index: 4;
    transition: transform 500ms ease-out;
  }

  .scrollToDownloadButtonHidden {
    transform: translateX(200%);
  }
}
